<header [style]="'background-image: url(' + drama?.backdropUrl +');'">
    <div class="fast-info">
        <div class="name">
            {{ drama?.title ? drama?.title : '' }}
        </div>
        <div class="info">
            <div *ngIf="drama?.status">
                @switch(drama?.status) {
                @case ('ongoing') {
                <i class="fa-solid fa-tower-broadcast" style="color: #FF4444;"></i>
                <span>
                    Em Exibição
                </span>
                }
                @case ('completed') {
                <i class="fa-solid fa-circle-check" style="color: greenyellow;"></i>
                <span>
                    Finalizado
                </span>
                }
                @case ('upcoming') {
                <i class="fa-solid fa-clock" style="color: #f59e0b;"></i>
                <span>
                    Em Breve
                </span>
                }
                @default {}
                }
            </div>
            <div *ngIf="drama?.rating">
                <i class="fa-solid fa-star" style="color: yellow;"></i>
                <span>{{ drama?.rating | number:'1.1-1' }} / 10</span>
            </div>
            <div *ngIf="drama?.releaseDate">
                <i class="fa-solid fa-calendar"></i>
                <span>{{ drama?.releaseDate | date:'dd MMMM yyyy' }}</span>
            </div>
            <div *ngIf="drama?.genres">
                <i class="fa-solid fa-masks-theater"></i>
                <span>
                    {{ drama?.genres?.join(', ') }}
                </span>
            </div>
        </div>
    </div>
</header>

<div class="navigation">
    <div class="nav-item active">
        <i class="fa-solid fa-circle-info"></i>
        <span>Informações</span>
    </div>
    <div class="nav-item">
        <i class="fa-solid fa-users"></i>
        <span>Elenco</span>
    </div>
    <div class="nav-item">
        <i class="fa-solid fa-camera"></i>
        <span>Fotos</span>
    </div>
</div>

<div class="container">
    <div class="info-grid">
        <div class="main-container">
            dasdas
        </div>
        <div class="main-container">
            <div>

            </div>
            <div>
                <img [src]="drama?.posterUrl" [alt]="drama?.title" class="poster">

                <fieldset>
                    <legend>
                        Sinopse
                    </legend>
                    <div class="synopsis">
                        {{
                        drama?.synopsis ? drama?.synopsis : 'Nenhuma sinopse disponível no momento.'
                        }}
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>