<div class="drama-card">
  <div 
    class="drama-image"
    [style.--backdrop]="'url(' + (drama.backdropUrl || drama.posterUrl) + ')'"
    [style.--poster]="'url(' + drama.posterUrl + ')'"
  >
    <div class="drama-data">
      <div class="data">
        <div class="title-row">
          <i class="fa-solid fa-tv"></i>
          <b>{{ drama.title }}</b>
        </div>
        <div><i class="fa-solid fa-star"></i> {{ drama.rating | number:'1.1-1' }} / 10</div>
        <div><i class="fa-solid fa-calendar"></i> {{ drama.releaseDate }}</div>
      </div>
    </div>
  </div>
</div>