<div class="actor-card" [routerLink]="['/actors', actor.id]">
  <div
    class="photo-container"
    [style.--photo]="actor.profileUrl ? 'url(' + actor.profileUrl + ')' : 'none'"
  >
    <div class="card-overlay">
      <h3 class="title" [title]="actor.name">{{ actor.name }}</h3>

      @if (actor.originalName) {
        <span class="original-name">{{ actor.originalName }}</span>
      }

      @if (actor.knownFor) {
        <span class="known-for" [title]="actor.knownFor">{{ actor.knownFor }}</span>
      }
    </div>
  </div>
</div>