<nav>
    <main>

        <div class="navbar">
            <div class="logo">
                Oppa<span style="color: red;">Track</span>
            </div>

            <div class="nav-middle">
                <div class="menu">
                    @for (menu of menuList; track menu.route) {
                    <div class="item" [routerLink]="menu.route" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: menu.exact || false }">
                        <i [class]="menu.icon"></i>
                        <div>{{ menu.label }}</div>
                    </div>
                    }
                </div>
            </div>

            <div class="search-bar">
                <form action="" method="post" class="bar">
                    <input type="text" name="search" id="search" placeholder="Buscar Drama">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

                @if (isAuthOpen) {
                <app-login (closeModal)="closeAuth()"></app-login>
                }

                <div class="buttons">
                    <div class="login" (click)="openAuth()">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        <div>Entrar</div>
                    </div>
                </div>
            </div>

            <div class="toggle-navbar">
                <i class="fa-solid fa-bars" (click)="isMenuOpen = !isMenuOpen"></i>
            </div>

            <div class="menu-openned" (click)="isMenuOpen = false" [class.open]="isMenuOpen">
                <div class="open-menu" (click)="$event.stopPropagation()">
                    <div class="menu-container">
                        <div class="menu-header">
                            <div class="logo">
                                Oppa<span style="color: red;">Track</span>
                            </div>
                            <i class="fa-solid fa-xmark close-menu" (click)="isMenuOpen = !isMenuOpen"></i>
                        </div>

                        <form action="" method="post" class="menu-search">
                            <input type="text" placeholder="Buscar..." name="search-menu" id="search-menu">
                            <button type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                        <div class="side-menu">
                            @for (menu of menuList; track menu.route) {
                            <div class="menu-item" [routerLink]="menu.route" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: menu.exact || false }">
                                <i [class]="menu.icon"></i>
                                <div>{{ menu.label }}</div>
                            </div>
                            }
                        </div>
                    </div>

                    <div class="footer-menu">
                        <div class="login-btn" (click)="openAuth()">
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            <div>
                                Entrar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</nav>